h1 {
  text-align: center;
  font-family: monospace;
  color: white;
}

.output {
  display: block;
  width: 415px;
  height: 80px;
  margin-bottom: 10px;
  padding: 1%;
  border: 0.1em solid black;
  font: 50px "Century Gothic", "Century Gothic", "Apple Gothic", sans-serif;
}

body {
  background-color: maroon;
}

p {
  color: white;
}

button {
  font: 22px "Century Gothic", "Century Gothic", "Apple Gothic", sans-serif;
  margin: 3px 3px 3px 3px;
  height: 80px;
  width: 80px;
  text-align: center;
}

button.clear {
  width: 215px
}

button.number {
  color: white;
  Background: grey;
}

button.operator{
  color: white;
  background: black;
}

button.equals {
 background: red;
}

div.buttons {
  text-align: center;
}
