h1 {
  text-align: center;
  font-family: monospace;
  color: white;
}

.output {
  display: block;
  width: 550px;
  height: 70px;
  margin-bottom: 10px;
  padding: 1%;
  border: 5px solid black;
}

#output {
  font: 50px "Century Gothic", "Century Gothic", "Apple Gothic", sans-serif;
  text-align: right;
  margin-top: 50px;
  color: white;
}

body {
  background-color: #009688;
}

p {
  color: white;
  margin: 20px;
}

button {
  font: 22px "Century Gothic", "Century Gothic", "Apple Gothic", sans-serif;
  margin: 3px 3px 3px 3px;
  height: 80px;
  width: 80px;
  text-align: center;
}

button.number {
  color: white;
  Background: grey;
}

button.operator{
  color: white;
  background: black;
}

button.equals {
 background: red;
}

div.buttons {
  text-align: center;
}

button.number:hover {
  background: black;
  color: white;
}

button.operator:hover{
  color: black;
  background: grey;
}
